html {
	background-image: url('http://emblemsbf.com/img/26537.jpg');
	background-position: center; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #141414;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
	font-size: 2em;
	color: #E9930D;
	background-color: #8e8e8e;
	text-transform: uppercase;
	text-indent: 30px;
	margin: -10px;
	padding-bottom: 10px;
	padding-top: 10px;
	border: 1px solid #bfbfbf;
}

#bottomline {
	background-color: rgb(142, 142, 142);
	color: #000000;
	opacity: 0.6;
	padding: 20px 50px 20px 50px;
	margin: 100px 100px 0px 100px;
	border: 1px solid #bfbfbf;
	text-align: justify;
}

.content {
	color: ##E9930D;
	font-weight: bold;
}

.content p {
	font-weight: 100;
	font-size: 15px;
	text-align: justify;
	position: absolute;
}

#date {
	color: #ffffff;
	text-align: left;
}

#topline {
	padding: 20px 50px 20px 50px;
	margin: 50px 55px -50px 55px;
}

h1, h2 {
	text-transform: uppercase;
	color: #E9930D;
	font-size: 25px
}

#title {
	float: left;
}

#author {
	float: right;
}
