html {
	background-color: #fff;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Arial Narrow", Arial, sans-serif;	
	/*background: #fff url('1406070411088.jpg') no-repeat bottom right;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*overflow: hidden;*/
	margin: 0;
	/*width: 540px%; wat */
	min-width: 50%;
	height: auto;
	min-height: 100%;
}


header {
	font-family: "Arial Narrow", Arial, sans-serif;	
	color: #9d9d9d;
	background-color: #2D2E30;
	margin: -10px;
	padding-top: 10px;
	border: 1px solid #37393b;
	border-color: rgba(255,255,255,0.1);
	text-transform: uppercase;
	box-shadow: 0px 5px 10px;
}

#titletext {
	font-size: 4em;
	color: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
}

nav {
	text-align: center;
	border: 1px solid #37393b;
	border-color: rgba(255,255,255,0.1);
	padding-top: 20px;
	padding-bottom: 30px;
}

nav ul {
	font-size: 14px;
	margin: 0px;
}

nav li {
	display: inline;
	padding-left: 80px;
	padding-right: 80px;
	text-decoration: none;
}

nav a {
	color: #9d9d9d;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

nav a:hover {
	color: #ffffff;
}

nav a:active {
	color: #ffffff;
}

.bottomline {
	background-color: #484B4C;
	color: #cecece;
	padding: 20px 50px 20px 50px;
	margin: 100px 100px 0px 100px;
	border: 1px solid #37393b;
	border-color: rgba(255,255,255,0.1);
	text-align: justify;
	box-shadow: 5px 5px 10px;
}

.text p {
	font-weight: 100;
	font-size: 15px;
	text-align: justify;
	position: absolute;
}

.tags {
	float: left;
}

.date {
	color: #9d9d9d;
	text-align: right;
	font-size: 14px;
}

.topline {
	margin: 50px 55px -80px 55px;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 15px;
	color: #37393b;	
}

a {
	text-decoration: none;
}

.title {
	float: left;
	margin: 0px 0px 0px 45px;
}

.author {
	float: right;
	margin: 0px 45px 0px 0px;
}

.inputform {
	font-size: 15px;
	color: #5d5d5d;
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	display: block;
}

.form-control {
	height: 50px;
	margin: 0;
	padding: 0 0px;
	background: #f5f5f5;
}
