html {
	background-image: url('http://i.imgur.com/7krmfuT.png');
	background-position: center; 
	background-repeat: no-repeat;
	background-color: #2C3034;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
	font-size: 2em;
	color: #ffffff;
	background-color: #020202;
	text-transform: uppercase;
	text-indent: 45px;
	margin: -10px;
	padding-bottom: 20px;
	padding-top: 20px;
}

#bottomline {
	background-color: #020202;
	opacity: 0.6;
	padding: 20px 50px 20px 50px;
	margin: 100px 100px 0px 100px;
}

.content {
	color: #ffffff;
	font-weight: bold;
}

.content p {
	font-weight: 100;
	font-size: 15px;
	text-align: justify;
	position: absolute;
}

#date {
	color: #ffffff;
	text-align: left;
	text-transform: 
}

#topline {
	padding: 20px 50px 20px 50px;
	margin: 50px 55px -60px 55px;
}

h1, h2 {
	text-transform: uppercase;
	color: #ffffff;
}

#title {
	float: left;
}

#author {
	float: right;
}